<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JiM HomePage</title>
    <meta name="description" content="スギジンのホームページ">
    <!--css--->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link href="jim707502345.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="file:///Users/sugimotojin/Library/Mobile%20Documents/com~apple~CloudDocs/programming/create_homepage/IMG_6632.PNG">
  </head>

  <body>
    <div id="home" class="big-bg">
      <header calss="page-header wrapper">
        <h1 class="main-title">JiM<p class="s">Engineering of Promise</p></h1>
          <ul class="main-nav">
            <li class="x"><a href="index.html">TOP</a><li>
            <li><a href="jim.html">JiM</a><li>
            <li><a href="project.html">PROJECTS</a><li>
            <li class="y"><a href="blog.html">BLOG</a></li>
      </header>

      <div class="sub-img">
        <h1 class="vmid">BLOG</h1>
      </div>

      <main class="msg">
        <h1>※now creating</h1>
      </main>

      <footer>
        <div class="wrapper">
          <p><small>&copy; JiM Engineering of Promise</small></p>
        </div>
      </footer>

  </body>

</html>
