<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JiM HomePage</title>
    <meta name="description" content="スギジンのホームページ">
    <!--css--->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link href="jim707502345.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="file:///Users/sugimotojin/Library/Mobile%20Documents/com~apple~CloudDocs/programming/create_homepage/IMG_6632.PNG">
  </head>

  <body>
    <div id="home" class="big-bg">
      <header calss="page-header wrapper">
        <h1 class="main-title">JiM<p class="s">Engineering of Promise</p></h1>
          <ul class="main-nav">
            <li class="x"><a href="index.html">TOP</a><li>
            <li><a href="jim.html">JiM</a><li>
            <li><a href="project.html">PROJECTS</a><li>
            <li class="y"><a href="blog.html">BLOG</a></li>
      </header>

      <div class="sub-img">
        <h1 class="vmid">JiM</h1>
      </div>

      <main class="main2-img">
        <img src="file:///Users/sugimotojin/Library/Mobile%20Documents/com~apple~CloudDocs/programming/create_homepage/IMG_6637.JPG" width="100%">
        <p class="jim-hist">2003年生まれ。2019年清風高校を中退し、独学でコンピュータ、マーケティング、音楽、統計学を勉強中。その他、数学や建築学、美術、哲学、コンピュータグラフィック、文学、心理学、語学、
          データサイエンス、脳科学、人工知能、物理学、ビジネスなどに興味があるが実力が伴っていない。高校中退の理由は自分の人生を賭けた実験がしたいという欲求
          と精神の不調と学校教育への不満が
          たまたま重なり合ったためである。趣味は独学。未来の私は自分と対話できるシステム、あるいはサービスを創っている。コピーは「私のことは私に頼む。」</p>
      </main>

      <footer>
        <div class="wrapper">
          <p><small>&copy; JiM Engineering of Promise</small></p>
        </div>
      </footer>

  </body>

</html>
